#parent {
    width: 100%;
    height: 100px;
    position: relative;
    top: 0px;
    left: 0;
    right: ;
    overflow: hidden;
    background-color: rebeccapurple;
}
#child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    color: aqua;
    animation-name: maraque;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes maraque {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}
#child2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    color: aqua;
    animation-name: maraque2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes maraque2 {
    from {
        left: 20%;
    }
    to {
        left: 100%;
    }
}
