body {
    background-color: rgb(246, 246, 246);

    padding: 0;
    margin: 0;
}
.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 100px auto 0px auto;
    position: relative;
    border: 5px solid #1a0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    background-color: #000;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}
.s {
    border-radius: 80%;
    content: '';
    transform: rotate(-90deg);
    width: 110px;
    height: 3px;
    background-color: #da1a1a;
    position: absolute;
    right: 50%;
    top: calc(50% - 3px);
    animation: rotate-second 60s linear infinite;
    transform-origin: center right;
}

@keyframes rotate-second {
    100% {
        transform: rotate(360deg);
    }
}
.p {
    content: '';
    width: 10px;
    height: 90px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 50%;
    position: absolute;
    top: 150px;

    transform-origin: center top;
    animation: rotate-minute 360s linear infinite;
}
@keyframes rotate-minute {
    100% {
        transform: rotate(360deg);
    }
}
.h {
    content: '';
    width: 15px;
    height: 70px;
    background-color: blue;
    transform-origin: bottom center;
    position: absolute;
    border-radius: 60%;
    top: 80px;
    transform-origin: center bottom;
    animation: rotate-hour 3600s linear infinite;
}
@keyframes rotate-hour {
    100% {
        transform: rotate(360deg);
    }
}
.clock ul {
    list-style: none;
    padding: 0;
}
.clock ul li {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    columns: #000;
    font-family: 'Droid Serif', serif;
}

.clock ul li:nth-child(1) {
    right: 22%;
    top: 6.5%;
}

.clock ul li:nth-child(2) {
    right: 8%;
    top: 25%;
}

.clock ul li:nth-child(3) {
    right: 1%;
    top: calc(50% - 10px);
}

.clock ul li:nth-child(4) {
    right: 6%;
    top: 69%;
}

.clock ul li:nth-child(5) {
    right: 22%;
    top: 84%;
}

.clock ul li:nth-child(6) {
    right: calc(50% - 10px);
    top: calc(99% - 20px);
}

.clock ul li:nth-child(7) {
    left: 22%;
    top: 84%;
}

.clock ul li:nth-child(8) {
    left: 6%;
    top: 69%;
}

.clock ul li:nth-child(9) {
    left: 1%;
    top: calc(50% - 10px);
}

.clock ul li:nth-child(10) {
    left: 6%;
    top: 25%;
}

.clock ul li:nth-child(11) {
    left: 22%;
    top: 6.5%;
}

.clock ul li:nth-child(12) {
    right: calc(50% - 10px);
    top: 1%;
}
